
.mail-icon{
    width: 3em;
    height: 3em;
}


/*Media querries*/


@media (max-height: 640px), (max-width: 730px){
    .middle-section .mail-icon{
        width: 1.6em;
        height: 1.6em;
    }
    
}
  
@media (max-width: 615px) and (max-height: 610px){
    .graphical-elements div{
        display: none;
    }

}

@media (max-width: 485px){
    .middle-section .text-wrapper{
        padding: .7em;
        font-size: 200%;
    }  
}
