

/*Middle section*/ 

.middle-section{
    color: #F8F8FF; /*#f1f6fd*/
}
  

.middle-section h1{
    text-shadow: 4px 3px #50646e;
    margin-bottom: .4em;
    margin-left: -2.2em;
    font-size: 8rem;
    letter-spacing: -4px;
}

.middle-section span{
    margin-right: -4.3em;
}
.button-main{
    padding-top: 1em;
}

.middle-section p{
    text-shadow: 1px 1px #50646e;
    margin-top: -2em;
}


.portfolio-button{
    text-decoration: none;
    color: #F8F8FF;
    background-color: #000000;
    padding: 1em 3em 1em 3em;
    border-radius: 100px;
    font-weight: bold;
    font-size: .9em;
}


.portfolio-button:hover, .portfolio-button:focus{
    background-color: #354db9;
    outline: none;
}




/*Graphical elements*/

.circle-big-left, .circle-big-right, .circle-small-left,
.circle-small-right{
    box-shadow: 20px -7px #354db9;
    background-color: #0b1541;
    border-radius: 50%;
    content: "";
    display: inline-block;
    position: absolute;
}


.circle-big-right{
    box-shadow: -20px 5px #e0514c;
    right: -25em;
    top: -1em;
    width: 37.4em;
    height: 37.4em;

}

.circle-small-right{
    box-shadow: -12px 0px #0d8037;
    right: 22em;
    bottom: -7em;
    width: 9.35em;
    height: 9.35em;
}


.circle-small-left{
    box-shadow: 20px -7px #dce470fd;
    overflow: hidden;
    left: -7em;
    bottom: 10em;
    width: 18.7em;
    height: 18.7em;
}

.circle-big-left{
    overflow: hidden;
    left: -22em;
    bottom: -37em;
    width: 56.1em;
    height: 56.1em;
}


/*Media querries*/


@media (max-width: 1570px){
    .graphical-elements div{
        margin: -7em;
    }
}

@media (max-width: 1280px){
    .graphical-elements div{
        margin: -10em;
    }

    .middle-section h1{
        font-size: 6em;
        margin-left: 0;
    }
    .middle-section span{
        margin-right: 0;
    }
}

@media (max-width: 1025px){
    .middle-section h1{
        font-size: 5em;
        letter-spacing: 1px;
        margin-bottom: .7em;
    }
}

@media (max-width: 665px){
    .graphical-elements div{
        margin: -12em;
    }
    .middle-section h1{
        font-size: 4em;
        padding-top:0;
        margin-bottom: .7em;
    }
}

@media (max-width: 485px){
    .middle-section h1{
        font-size: 2.5em;
        margin-bottom: 1em;
        text-shadow: 3px 2px #88aabb;
    }

    .middle-section p{
        font-size: .8em;
    }
}

@media (min-height: 1500px) and (min-width: 1200px){
    .middle-section h1{
        font-size: 12em;
    }
    .middle-section p{
        font-size: 3em;
    }

    .button-main{
        font-size: 3em;
    }

}

@media (min-height: 2000px) and (min-width: 2200px){
    .middle-section h1{
        font-size: 15em;
    }
    .middle-section p{
        font-size: 4em;
    }

    .button-main{
        font-size: 4em;
    }

}

@media (max-height: 800px){
    .graphical-elements div{
        margin: -12em;
    }

    .middle-section h1{
        font-size: 4em;
    }
    .middle-section p{
        font-size: .8em;
    }
}

@media (max-height: 680px){
    .graphical-elements .circle-big-right{
        margin: -14em;
    }
}

@media (max-height: 520px){
    .middle-section h1{
        margin-top: 3em;
        font-size: 3em;
    }
    .middle-section p{
        font-size: .7em;
    }
}

@media (max-height: 420px){
    .middle-section h1{
        margin-top: 4.5em;
        font-size: 3em;
    }
    .middle-section p{
        font-size: .7em;
    }

    .graphical-elements div{
        margin-bottom: -14em;
    }

}

/*Height and width*/
  
@media (max-width: 700px) and (max-height: 700px){
    .middle-section h1{
        font-size: 2em;
    }
}

@media (max-width: 465px) and (max-height: 800px){
    .middle-section h1{
        font-size: 2em;
    }
}


